.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  input, select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid red;
    flex: 1 1 200px;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: rgb(11, 93, 121);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  