.listContainer {
  margin: 1rem;
  width: 100%;
  max-width: 45%; /* Limita el ancho máximo de cada lista */
  border-radius: 10px;
  padding: 1rem;
  background: linear-gradient(180deg, grey, black);
  flex-grow: 1;
  flex: 1; /* Permite que las listas ocupen el mismo espacio */
  min-width: 300px; /* Asegura un ancho mínimo */
}

.itemList {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.item img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid white;
}

.emptyMessage {
  font-style: italic;
  color: red;
}
