.listContainer {
  margin: 1rem;
  width: 100%;
  max-width: 45%; /* Limita el ancho máximo de cada lista */
  border-radius: 10px;
  padding: 1rem;
  background: linear-gradient(180deg, grey, black);
  flex-grow: 1;
  flex: 1; /* Permite que las listas ocupen el mismo espacio */
  min-width: 300px; /* Asegura un ancho mínimo */
}

.itemList {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.item img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid white;
}

.emptyMessage {
  font-style: italic;
  color: red;
}
.nota {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: white; /* cambia de #555 a blanco para mejor contraste */
  background-color: rgba(255, 255, 255, 0.1); /* fondo sutil semitransparente */
  padding: 0.5rem;
  border-radius: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
